@using AppView.Areas.Admin.ViewModels.SanPhamViewModels
@model SanPhamCreateViewModel

@using (Html.BeginForm("Create", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label>Tên sản phẩm</label>
        @Html.TextBoxFor(m => m.TenSanPham)
    </div>

    <div>
        <label>Mô tả</label>
        @Html.TextBoxFor(m => m.MoTa)
    </div>

    <div>
        <label>Trọng lượng</label>
        @Html.TextBoxFor(m => m.TrongLuong)
    </div>

    <div class="form-group">
        <label>Giới tính:</label><br />
        @Html.RadioButtonFor(m => m.GioiTinh, true) Nam
        @Html.RadioButtonFor(m => m.GioiTinh, false) Nữ
    </div>

    <div class="form-group">
        <label>Trạng Thái:</label><br />
        @Html.RadioButtonFor(m => m.TrangThai, true) Còn bán
        @Html.RadioButtonFor(m => m.TrangThai, false) Ngừng bán
    </div>

    <div>
        <label>Ảnh sản phẩm</label>
        <input type="file" name="ImageFile" />
    </div>

    <div class="form-group">
        <label>Danh mục</label>
        @Html.DropDownListFor(model => model.DanhMucID, Model.DanhMucList, "Chọn danh mục", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DanhMucID, "", new { @class = "text-danger" })
    </div>



    <button type="submit">Tạo sản phẩm</button>
}
